################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/final_project/v16/Browse.VC.opendb
/.vs/oop_final_project/v16/Browse.VC.opendb
